<li>
  <p>
    <span style="font-size:22px"><strong><%= blogpost.title %></strong></span>
  </p>
  
  <div class="muchtext">
    <p>
      <span class="content"><%= blogpost.content %></span>
    </p>
  </div
  
  <p>
    <span class="timestamp">
      Posted <%= time_ago_in_words(blogpost.created_at) %> ago.
    </span>
  </p>
  
  <br>
  <br>
</li>