<p><%= link_to "Create new blog post", new_post_path %></p>
<br>

<p>Current Blog Posts:</p>

<ul>
  <%= @blogposts.each do |p| %>
    <li>
      <%= p.title %>
      <%= link_to "delete", p, method: :delete, data: { confirm: "You sure?" } %>
      <%= link_to "edit", edit_blogpost_path(p) %>
    </li>
  <% end %>
</ul>
