<h1>Update a blog post</h1>
<div class="narrow">
    
    <%= render 'shared/error_messages' %>
    
    <%= form_for @blogpost do |f| %>
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
      
      <%= f.label :content %>
      <%= f.text_area :content, class: 'form-control' %>
      
      <%= f.submit %>
    <% end %>

</div>