<h1>What is NMO?</h1>

<div class="muchtext">
  <p>Neuromyelitis Optica (NMO) aka Devic’s Disease (named after the doctor who initially discovered it), is a 
  rare neurological autoimmune disease- meaning the body’s own immune cells begin to attack components 
  of the nervous system, specifically the optic nerve and spinal cord.  NMO patients experience optic 
  neuritis (causing eye pain and vision loss), transverse myelitis (leading to limb weakness and paralysis), 
  as well as decreased sensation and loss of bladder and bowel control.</p>
  
  <p>NMO is a distinct disease from 
  multiple sclerosis (MS), normally sparing the brain and affecting a higher proportion of females to males (9:1).  
  NMO can specifically lead to the formation of pathogenic (disease-causing)  antibodies against aquaporin 4 
  (AQP4), or NMO-IgG, in the vast majority of patients, which is believed to be a mediator in spinal cord destruction. 
  While nearly 80% of NMO subjects have these antibodies, NMO patients without NMO-IgG have similar spinal 
  inflammation and  destruction. Further diverging from MS, in which patients most often have mild attacks with 
  good recovery, NMO attacks lead to severe disability, most often with incomplete recovery.</p>
</div>

<p>To learn more, please visit:</p>

<ul style='text-align:left'>
  <li><a href="http://www.mayo.edu/research/centers-programs/center-multiple-sclerosis-cns-demyelinating-diseases/
  neuromyelitis-optica-nmo-variant-multiple-sclerosis">The Mayo Clinic</a></li>

  <li><a href="http://www.ninds.nih.gov/disorders/neuromyelitis_optica/neuromyelitis_optica.htm">
    National Institute of Neurological Disorders and Stroke</a></li>
</ul>