<footer class="footer narrow">
  <small>Website (c) Luc Sinex 2015</small>
  <nav>
    <ul>
      <il><%= link_to "Contact Us  ", contact_path %></il>
      <il><%= link_to "Admin", admin_path %></il>
    </ul>
  </nav>
</footer>