<header class = "header navbar navbar-fixed-top">
  <div class="container narrow">
    <%= link_to "CBJ Vs NMO", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Blog", blog_path %></li>
        <li><%= link_to "What is NMO?", info_path %></li>
        <li><%= link_to "About Us", about_path %></li>
      </ul>
    </nav>
  </div>
</header>