<!DOCTYPE html>
<html>
<head>
  <title>CBJ Vs NMO</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/header' %>

  <div class="container narrow">
    <% if flash[:notice] %>
      <div class="notice"><%= flash[:notice] %></div>
    <% end %>
    
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
</body>
</html>
